body {
  background-color: #000000;
}
.banner {
  text-align: left;
}

.banner img {
  max-width: 926px;
  width: 60%;
}

footer {
  background-color: #222222;
}

footer .links {
  margin-bottom: 10px;
}

footer .container {
  margin-top: 30px;
  padding: 30px;
}


footer small {
  color: #999999;
}

img.nlca {
  width: 100%;
  border: 1px solid white;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a {
    color: #008000;
}