@()(implicit flash: Flash, cdnUrl: CdnUrl)

@import tags._

@main(Some("busHire"), HeadElements(
  "Party Bus, Funky Limos, Sheffield, Chesterfield, Rotherham, Doncaster,  Boogie Bus, Stag Night, Hen",
  "Party Bus Hire covering Sheffield, Chesterfield, Rotherham, Doncaster, Barnsley, South Yorkshire, Leeds, Nottingham, Manchester"
)) {

  <div class="row">
    <div class="col-sm-8">
    <h1>16 seater Party Bus Packages</h1>

      <p><strong><span class="hilight">New Special Offer:</span> 1 Hour Packages starting from <span class="hilight">£17.50</span> per passenger
        Call or request a quotation for more info.</strong></p>

      <h2>Party Bus Hire: <span class="hilight nowrap">0779 249 8802</span></h2>

      <p><strong>Local 2 hour party bus pub tours from £20 per head destinations including but not restricted too:</strong> Sheffield -  Rotherham -
        Chesterfield - Barnsley - Doncaster - Leeds - Nottingham - Derby & Surrounding areas.</p>

      <p><strong>Party Bus Return trips available to other party cities starting from £25 per head, destinations including but not restricted to:</strong>
          Leeds - Manchester - York -  Nottingham - Derby - Liverpool - Blackpool - Skeggness - Newcastle.</p>

      <p><a href="@controllers.routes.Application.contact">Contact Us</a></p>


      <p>Our 16 seater party busses are the smallest vehicles amoungst our fleet, please see our other pages for our 22 seater and 35 
        seater party busses if you have a bigger group.</p>
 
      <br>

      <p>Book now to avoid disappointment due to extremely limited availability for popular dates and times. 
      <p>*Its best to book 12 months in advance to secure a space in our diary for prom bookings</p><a href="@controllers.routes.Application.contact">Contact Us</a></p>
    </div>

    <div class="col-sm-4" style="text-align: center">
        @galImg("optare", "book party bus wedding")
        @galImg("optare", "book party bus sheffield")
        @galImg("optare", "Party Bus Doncaster")

    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 pull-right">
      <h2>Party Bus Hire: <span class="hilight nowrap">0779 249 8802</span></h2>

      <p><strong>Our 16 Seater Fleet:</strong></p>

      <p><strong>Our famous 'AS SEEN ON TV' pair of twin Arctic White Alero - 16 Seater Party Busses:</strong>
          Our party bus fleet has featured on several Chanel 5 TV shows such as Celebrity Wedding Planner, Don't Tell The Bride, 
        and Hens Behaving Badly</p>
      
            <p><strong>Below - Our newly renovated black and chrome Mercedes with electric blue signage - 16 Seater Party Bus:</strong>
        All of our party busses have been developed in-house to ensure they meet the same specifications onboard, you may even be lucky enough to
        ride onboard two of our 16 seaters if you are using us as transport to and from a destination. This all depends on the logistics and positioning
        of our fleet on your specific dates and times - similarly we cannot specify which of our 16 seater party bus's you will get 
        on the day of your booking at the point of reservation as this is likely to change near the day depending which towns and cities we are
        operating within on your dates.</p>

      <p><a href="@controllers.routes.Application.contact">Contact Us</a></p>


    </div>

    <div class="col-sm-4 pull-left" style="text-align: center">
        @galImg("optare", "book party bus nottingham")
        @galImg("optare", "book party bus chesterfield")
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      
      <h2>Introducing Our 16 Seater Party Bus fleet!</h2>

      <p>We are proud to showcase our three stunning 16 seater party busses (bigger 22 seater and 35 seaters available - see our other pages).
        If you've booked with us before you will appreciate how fantastic it is to party onboard one of our party busses within your local area
        or if you've been lucky enough to go further afield on a return journey you will already know that there is really no better way to travel...</p>
      <p>All of our party bus fleet have sleek exterior designs, cool signage, tinted windows, and a fully loaded interior designed to a high specification including;
        side facing limo style seating, onboard TV screens, state of the art entertainment systems, a pre-loaded media centre with several thousand music tracks from
        up to date chart/dance music, right back through the 90s, 80's, and 70's. This is all user controlled onboard via a remote control.
        We now also have Bluetooth onboard all of our party busses which means it's easy to connect smartphones to the main onboard sound system and play
        your own music. Dazzling laser lighting, strobes, and mood lighting included as standard...</p>


      <br>

      <p>Special packages can be tailor made for Adult / Stag & Hen Parties, please contact us for more info...</p>

      <p>We can also arrange discounted rates for special guests to perform for your group on the funky bus
        including: Female/Male kissograms, strippers, roly-poly grams, and much more for your parties and
        events via Hayley B Entertainments: <a href="http://www.hayleybentertainments.co.uk">www.hayleybentertainments.co.uk</a></p>

      <p>* Please note: Dance Poles have now been removed from our party bus's by request of our insurance
        broker for health and safety reasons.</p>

    </div>

    <div class="col-sm-4" style="text-align: center">
    
        @galImg("optare", "16 seater party bus hire sheffield")
        @galImg("optare", "16 seater party bus yorkshire")
        @galImg("optare", "16 seater party bus hire chesterfield")
        @galImg("optare", "16 seater party bus nottingham")

    </div>
  </div>

}
