@()(implicit flash: Flash, cdnUrl: CdnUrl)

@import tags._

@main(Some("gallery"), HeadElements(
  "Party Bus Hire | Sheffield | Barnsley | Manchester | Leeds | Wakefield | Funky Limos",
  "Party in style with a Party Bus from Funky Limos. Hire this fully equipt limo coach for your ultimate party experience. Areas covered include Sheffield, Rotherham, Chesterfield, Doncaster, Barnsley, Nottinghamshire, Derbyshire, Lincolnshire, Leeds, Bradford, Manchester, and York For booking information call 0779 2498802"
)) {

  <h1>Gallery</h1>

  <h2>16 Seater Party Bus</h2>

	<div class="gallery">
    <div class="row">@galRow( "optare", List("Party Bus Barnsley", "Party Bus Chesterfield", "Party Bus Doncaster") )</div>
    <div class="row">@galRow( "optare", List("Party Bus Wakefield", "Party Bus Leeds", "Party Bus Manchester") )</div>
    <div class="row">@galRow( "optare", List("Party Bus Nottingham", "Party Bus York", "16 seater party bus hire sheffield") )</div>
    <div class="row">@galRow( "optare", List("Party Bus Uk", "16 seater party bus hire chesterfield", "Party Bus Rotherham Sheffield") )</div>
    <div class="row">@galRow( "optare", List("Party Bus Sheffield Manchester", "Party Bus Sheffield UK", "16 seater party bus yorkshire") )</div>
  </div>

  <h2>22 Seater Party Bus</h2>

  <div class="gallery">
    <div class="row">@galRow( "bigone", List("22 seater party bus hire", "22 seater party bus hire derby", "22 seater party bus hire sheffield") )</div>
    <div class="row">@galRow( "bigone", List("22 seater party bus hire yorkshire", "22 seater party bus manchester", "22 seater party bus hire rotherham") )</div>
    <div class="row">@galRow( "bigone", List("22 seater party bus hire chesterfield) )</div>
   </div>

  <h2>35 Seater Party Coach</h2>

  <div class="gallery">
    <div class="row">@galRow( "bigone", List("35 seater vip party coach", "35 seater party coach chesterfield", "35 seater party bus south yorkshire") )</div>
    <div class="row">@galRow( "bigone", List("35 seater party bus leeds", "35 seater party bus sheffield", "35 seater party bus") )</div>
    <div class="row">@galRow( "bigone", List("35 seater party coach hire", "35 seater party coach nottingham", "35 seater party bus yorkshire") )</div>
   </div>
}

@galRow(folder: String, ids: List[String]) = {
  @for(id <- ids) {
    <div class="col-sm-4">@galImg(folder, id)</div>
  }
}
